.accounts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
  row-gap: 50px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px;
  max-width: 400px;
  border-radius: 9px;
}

.card__account {
  margin-bottom: 9px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.card__amount {
  margin-bottom: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.card__text {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
}

.card__transaction-date {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
}
