.snackbar {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: .75em 1em;
  width: 100%;
  max-width: 440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  border-radius: 7px;
}

.snackbar_info {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--info-bg);
}

.snackbar_info path {
  fill: var(--primary);
}

.snackbar_info path:hover {
  fill: #4b94e5;
}

.snackbar_warning {
  color: var(--warning);
  border-color: var(--warning);
  background-color: var(--warning-bg);
}

.snackbar_warning path {
  fill: var(--warning);
}

.snackbar_warning path:hover {
  fill: #b08c44;
}

.snackbar_error {
  color: var(--error);
  border-color: var(--error);
  background-color: var(--error-bg);
}

.snackbar_error path{
  fill: var(--error);
}

.snackbar_error path:hover{
  fill: #5d0000;
}

.snackbar__close-button {
  position: absolute;
  top: .75em;
  right: 1em;
  width: 24px;
  height: 24px;
}

.snackbar__close-button path{
  transition-property: fill;
  transition-duration: .2s;
  transition-timing-function: ease;
}
